@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}

.open-meteo-link-hover:hover {
  color: #4f6814;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 68px;
  background-color: white;
  z-index: 5;
}

.header-shadow {
  box-shadow: 0 2px 4px 0 rgba(237, 235, 229, 1);
}

.hover-border-3px:hover {
  border-width: 2px;
}

.route-title {
    font-family: "Unbounded Bold", sans-serif;
    font-size: 16px;
}
